.menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.selecting {
  margin-bottom: 10px;
}

.paging {
  margin-bottom: 10px;
}

:host >>> .wj-flexgrid .wj-marquee,
.wj-flexgrid .wj-header {
  transition: all 0.6s;
  background-color: hsl(210, 50%, 30%, 0.2);
  z-index: 0;
}

:host >>> .wj-cell.unit-bang {
  font-weight: bold;
  color: #e63946;
  background-color: hsl(337, 100%, 96%);
}

:host >>> .wj-cell.unit-chiec {
  font-weight: bold;
  color: #b86ee7;
  background-color: hsl(277, 100%, 97%);
}

:host >>> .wj-cell.unit-chuyen {
  font-weight: bold;
  color: #219ebc;
  background-color: hsl(191, 100%, 97%);
}

:host >>> .wj-cell.unit-cai {
  font-weight: bold;
  color: #2b9348;
  background-color: hsl(120, 100%, 97%);
}

:host >>> .wj-cell.unit-pcs {
  font-weight: bold;
  color: #f4a261;
  background-color: hsl(40, 100%, 97%);
}

:host >>> .wj-cell.unit-bo {
  font-weight: bold;
  color: #264653;
  background-color: hsl(198, 100%, 97%);
}

:host >>> .wj-cell.unit-lo {
  font-weight: bold;
  color: #06d6a0;
  background-color: hsl(184, 100%, 97%);
}

:host >>> .wj-cell.unit-chai {
  font-weight: bold;
  color: #e9c46a;
  background-color: hsl(48, 100%, 97%);
}


:host >>> .gird .wj-cells .wj-cell:not(.wj-state-selected):not(.wj-state-multi-selected):hover {
  background-color: hsl(210, 50%, 30%);
  transition: all 0.6s;
  color: #f1f1f1;
}

:host >>> .gird .wj-flexgrid .wj-cell {
  padding: 9px;
}

:host >>> .cell-id:not(.wj-state-selected):not(.wj-state-multi-selected) {
  background-color: hsl(197, 19%, 93%);
}