<div class="container">
    <div class="input-group mb-10">
        <div class="input-group-addon"><i class="fas fa-search"></i></div>
        <input (input)="filter($event)" class="form-control" placeholder="Country Filter">
    </div>
    <div class="menu">
        <div class="left">
            <div class="selecting mb-10 mr-10">
                <wj-combo-box #unitsCombo [itemsSource]="units" (selectedIndexChanged)="onUnitsSelectedIndexChanged()">
                </wj-combo-box>
            </div>
            <div class="searching mb-10 mr-10">
                <wj-flex-grid-search [placeholder]="'Search...'" [grid]="flexGrid">
                </wj-flex-grid-search>
            </div>
        </div>
        <div class="right">
            <div class="paging mb-10">
                <wj-collection-view-navigator headerFormat="Page {currentPage:n0} of {pageCount:n0}" [byPage]="true"
                    [cv]="detailView">
                </wj-collection-view-navigator>
            </div>
        </div>
    </div>
    <div class="gird">
        <wj-flex-grid class="gird-height" #flexGrid [alternatingRowStep]="0" [itemsSource]="detailView"
            [isReadOnly]="false" (initialized)="gridInitialized(flexGrid)" [autoSearch]="true"
            [showSelectedHeaders]="'All'" [showMarquee]="true" (loadedRows)="onloadedRows(flexGrid)">
            <wj-flex-grid-column [cssClass]="'cell-id'" [binding]="'Id'" [header]="'ID'" [width]="100">
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'ParentId'" [header]="'Parent ID'" [width]="100">
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'IsGroup'" [header]="'Is group'" [width]="100">
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'Name'" [header]="'Name'" [wordWrap]="true" [width]="300">
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'ItemTypeName'" [header]="'Item type name'" [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'Code'" [header]="'Code'" [width]="140">
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'Unit'" [header]="'Unit'" [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'ItemGroupCode'" [header]="'Item group code'" [width]="180">
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'BranchCode'" [header]="'Branch code'" [width]="120">
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'IsActive'" [header]="'Is active'" [width]="100">
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'CreatedBy'" [header]="'Created by'" [width]="120">
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'CreatedAt'" [header]="'Created at'" [width]="220">
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'ModifiedBy'" [header]="'Modified by'" [width]="110">
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'ModifiedAt'" [header]="'Modified at'" [width]="220">
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'_SelectKey__wibkaw'" [header]="'Select key wibkaw'" [width]="170">
            </wj-flex-grid-column>
        </wj-flex-grid>
    </div>
</div>