<button routerLink="/on-changes" routerLinkActive="active">OnChanges</button>
<button routerLink="/oninit" routerLinkActive="active">Oninit</button>
<button routerLink="/do-check" routerLinkActive="active">DoCheck</button>
<button routerLink="/after-content-init" routerLinkActive="active">AfterContentInit</button>
<button routerLink="/after-content-checked" routerLinkActive="active">AfterContentChecked</button>
<button routerLink="/after-view-init" routerLinkActive="active">AfterViewInit</button>
<button routerLink="/after-view-checked" routerLinkActive="active">AfterViewChecked</button>
<button routerLink="/on-destroy" routerLinkActive="active">OnDestroy</button>
<router-outlet></router-outlet>