<button routerLink="/lifecycle-hooks/on-changes" routerLinkActive="active">OnChanges</button>
<button routerLink="/lifecycle-hooks/oninit" routerLinkActive="active">Oninit</button>
<button routerLink="/lifecycle-hooks/do-check" routerLinkActive="active">DoCheck</button>
<button routerLink="/lifecycle-hooks/after-content-init" routerLinkActive="active">AfterContentInit</button>
<button routerLink="/lifecycle-hooks/after-view-init" routerLinkActive="active">AfterViewInit</button>
<button routerLink="/lifecycle-hooks/on-destroy" routerLinkActive="active">OnDestroy</button>
<router-outlet></router-outlet>