<button routerLink="/lifecycle-hooks/on-changes" routerLinkActive="active">OnChanges</button>
<button routerLink="/lifecycle-hooks/on-init" routerLinkActive="active">Oninit</button>
<button routerLink="/lifecycle-hooks/do-check" routerLinkActive="active">DoCheck</button>
<button routerLink="/lifecycle-hooks/after-content" routerLinkActive="active">AfterContent</button>
<button routerLink="/lifecycle-hooks/after-view" routerLinkActive="active">AfterView</button>
<button routerLink="/lifecycle-hooks/on-destroy" routerLinkActive="active">OnDestroy</button>
<button routerLink="/lifecycle-hooks/spy" routerLinkActive="active">Spy</button>
<router-outlet></router-outlet>