.mr-20 {
    margin-right: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content .input {
    display: flex;
    flex-direction: row;
}

.content .input .group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content .input .group .date wj-input-date {
    width: 100%;
}

.content .input .group .number wj-input-number {
    width: 100%;
}

:host >>> .content .slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
}

.content .input .group .date .wj-content {
    background-color: #fff;
    border-radius: 4px;
}

.content .input .group .number .wj-content {
    background-color: #fff;
    border-radius: 4px;
}

:host >>> .content .input .group .date .wj-control .wj-input-group .wj-form-control {
    padding: 14px;
    font-size: 18px;
}

:host >>> .content .input .group .number .wj-control .wj-input-group .wj-form-control {
    padding: 14px;
}