<div class="content">
    <div class="input">
        <div class="group mr-20">
            <label class="mb-10">{{ lowerLabel }}</label>
            <div class="date" *ngIf="typeDate">
                <wj-input-date #theLowerDate (valueChanged)="onChooseTimeMin(theLowerDate)"
                    [value]="minValue ? minValue : today" [format]="format"></wj-input-date>
            </div>
            <div class="number" *ngIf="typeNumber">
                <wj-input-number [value]="minValue" [format]="format"></wj-input-number>
            </div>
        </div>
        <div class="group">
            <label class="mb-10">{{ upperLabel }}</label>
            <div class="date" *ngIf="typeDate">
                <wj-input-date #theUpperDate (valueChanged)="onChooseTimeMax(theUpperDate)"
                    [value]="maxValue ? maxValue : today" [format]="format"></wj-input-date>
            </div>
            <div class="number" *ngIf="typeNumber">
                <wj-input-number [value]="maxValue" [format]="format"></wj-input-number>
            </div>
        </div>
    </div>
    <div class="slider">
        <form [formGroup]="form">
            <input type="text" formControlName="min">
            <input type="text" formControlName="max">
            <bravo-slider formControlName="input" (startEvent)="startEvent($event)" (endEvent)="endEvent($event)"
                [pointerSize]="20" [pointerTop]="-11" [pointerBorder]="'4px solid #fff'" [selectionColor]="'#0079d7'"
                [pointerColor]="'#2066a7'" [isBubble]="false" [barColor]="'#fff'" [barSize]="4"
                [start]="countDays(minValue ? minValue : today, min ? min : today)"
                [end]="countDays(minValue ? minValue : today, max ? max : today)" [options]="options">
            </bravo-slider>
        </form>
    </div>
</div>