<div class="header">
    <button routerLink="/" routerLinkActive="active">Home</button>
    <button routerLink="/lifecycle-hooks" routerLinkActive="active">Lifecycle Hooks</button>
    <button routerLink="/core" routerLinkActive="active">Core</button>
    <button routerLink="/login" routerLinkActive="active">Login</button>
    <button routerLink="/flex-property" routerLinkActive="active">Flex Property</button>
    <button routerLink="/css-website-layout" routerLinkActive="active">CSS Website Layout</button>
    <button routerLink="/javascript-errors" routerLinkActive="active">JavaScript Errors</button>
    <button routerLink="/wijmo" routerLinkActive="active">Wijmo</button>
    <button routerLink="/css" routerLinkActive="active">CSS</button>
    <button routerLink="/choose-time" routerLinkActive="active">Choose Time</button>
    <button routerLink="/slider" routerLinkActive="active">Slider</button>
    <button routerLink="/bravo" routerLinkActive="active">Bravo</button>
    <button routerLink="/bravo-range-time" routerLinkActive="active">Range Time</button>
    <button routerLink="/bravo-slider" routerLinkActive="active">Bravo Slider</button>
    <button routerLink="/responsive-input-date" routerLinkActive="active">Responsive Input Date</button>
</div>
<hr>