<div class="header">
    <button (click)="onPreviousMonth()"><i class="fad fa-chevron-circle-left"></i></button>
    <div>
        <h1>
            Tháng {{ currentSelectionMonth ? currentSelectionMonth : curentTime | date:'M' }}, {{ currentSelectionYear ?
            currentSelectionYear : curentTime | date:'Y' }}
        </h1>
        <p class="description">Ngày hiện tại là: <b>{{ calendarApp.value | date:'fullDate':'':'vi'}}</b></p>
    </div>
    <button (click)="onNextMonth()"><i class="fad fa-chevron-circle-right"></i></button>
</div>
<div>
    <wj-calendar [showHeader]="false" #calendarApp></wj-calendar>
</div>
<div class="ml-10">
    <app-input-calendar-app-selection (click)="onToday()" chooseTime="Hôm nay"></app-input-calendar-app-selection>
    <app-input-calendar-app-selection (click)="onYesterday()" chooseTime="Hôm qua"></app-input-calendar-app-selection>
    <app-input-calendar-app-selection (click)="onWeekend()" chooseTime="Cuối tuần"></app-input-calendar-app-selection>
    <app-input-calendar-app-selection (click)="onThisWeek()" chooseTime="Tuần này"></app-input-calendar-app-selection>
    <app-input-calendar-app-selection chooseTime="Tuần trước"></app-input-calendar-app-selection>
    <app-input-calendar-app-selection (click)="thisMonth()" chooseTime="Tháng này"></app-input-calendar-app-selection>
    <app-input-calendar-app-selection (click)="lastMonth()" chooseTime="Tháng trước"></app-input-calendar-app-selection>
    <app-input-calendar-app-selection chooseTime="Quý này"></app-input-calendar-app-selection>
    <app-input-calendar-app-selection chooseTime="Quý trước"></app-input-calendar-app-selection>
    <app-input-calendar-app-selection chooseTime="Năm này"></app-input-calendar-app-selection>
    <app-input-calendar-app-selection chooseTime="Năm trước"></app-input-calendar-app-selection>
</div>
<div class="ml-10">
    <app-input-calendar-app-confirm confirm="Chấp nhận"></app-input-calendar-app-confirm>
    <app-input-calendar-app-confirm (click)="onClose()" confirm="Đóng"></app-input-calendar-app-confirm>
    <app-input-calendar-app-confirm confirm="Tuỳ chọn điều kiện"></app-input-calendar-app-confirm>
</div>