<wj-calendar #CalendarApp></wj-calendar>
<app-input-calendar-app-selection chooseTime="Hôm nay"></app-input-calendar-app-selection>
<app-input-calendar-app-selection chooseTime="Hôm qua"></app-input-calendar-app-selection>
<app-input-calendar-app-selection chooseTime="Tuần này"></app-input-calendar-app-selection>
<app-input-calendar-app-selection chooseTime="Tuần trước"></app-input-calendar-app-selection>
<app-input-calendar-app-selection chooseTime="Tháng này"></app-input-calendar-app-selection>
<app-input-calendar-app-selection chooseTime="Tháng trước"></app-input-calendar-app-selection>
<app-input-calendar-app-selection chooseTime="Quý này"></app-input-calendar-app-selection>
<app-input-calendar-app-selection chooseTime="Quý trước"></app-input-calendar-app-selection>
<app-input-calendar-app-selection chooseTime="Năm này"></app-input-calendar-app-selection>
<app-input-calendar-app-selection chooseTime="Năm trước"></app-input-calendar-app-selection>
<app-input-calendar-app-confirm confirm="Chấp nhận"></app-input-calendar-app-confirm>
<app-input-calendar-app-confirm confirm="Đóng"></app-input-calendar-app-confirm>
<app-input-calendar-app-confirm confirm="Tuỳ chọn điều kiện"></app-input-calendar-app-confirm>