<h1>Flex Container</h1>
<h2>display</h2>
<p>Để sử dụng flex trong css thì cần khai báo thuộc tính display: flex</p>
<h2>flex-direction</h2>
<p>Thuộc tính flex-direction xác định hướng của main-axis để container sắp xếp các item.</p>
<h3>row</h3>
<div class="flex-direction-container-1">
    <div>1</div>
    <div>2</div>
    <div>3</div>
</div>
<h3>row-reverse</h3>
<div class="flex-direction-container-2">
    <div>1</div>
    <div>2</div>
    <div>3</div>
</div>
<h3>column</h3>
<div class="flex-direction-container-3">
    <div>1</div>
    <div>2</div>
    <div>3</div>
</div>
<h3>column-reverse</h3>
<div class="flex-direction-container-4">
    <div>1</div>
    <div>2</div>
    <div>3</div>
</div>
<h2>flex-wrap</h2>
<p>Thuộc tính flex-wrap cho phép item tự động xuống dòng khi kích thước container thay đổi.</p>
<h3>nowrap</h3>
<div class="flex-wrap-container-1">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
</div>
<h3>wrap</h3>
<div class="flex-wrap-container-2">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
</div>
<h3>wrap-reverse</h3>
<div class="flex-wrap-container-3">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
</div>
<h2>flex-flow</h2>
<p>Thuộc tính flex-flow sử dụng để gộp chung hai thuộc tính flex-direction và flex-wrap.</p>
<h3>flex-flow</h3>
<div class="flex-flow-container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
</div>
<h2>justify-content</h2>
<p>Thuộc tính justify-content để điều chỉnh vị trí bắt đầu và căn chỉnh các item bên trong container theo dọc theo trục
    main axis, chiều ngang hoặc chiều dọc tùy thuộc vào flex-direction.</p>