h1,
h2 {
  text-align: unset !important;
}
p {
  padding: unset !important;
}

/* flex-direction */
.flex-direction-container-1 {
  display: flex;
  flex-direction: row;
  background-color: #eeeeee;
}
.flex-direction-container-2 {
  display: flex;
  flex-direction: row-reverse;
  background-color: #eeeeee;
}
.flex-direction-container-3 {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}
.flex-direction-container-4 {
  display: flex;
  flex-direction: column-reverse;
  background-color: #eeeeee;
}
.flex-direction-container-1 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.flex-direction-container-2 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.flex-direction-container-3 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.flex-direction-container-4 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
