h1,
h2 {
  text-align: unset !important;
}
p {
  padding: unset !important;
}

/* flex-direction */
.flex-direction-container-1 {
  display: flex;
  flex-direction: row;
  background-color: #eeeeee;
}
.flex-direction-container-2 {
  display: flex;
  flex-direction: row-reverse;
  background-color: #eeeeee;
}
.flex-direction-container-3 {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}
.flex-direction-container-4 {
  display: flex;
  flex-direction: column-reverse;
  background-color: #eeeeee;
}
.flex-direction-container-1 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.flex-direction-container-2 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.flex-direction-container-3 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.flex-direction-container-4 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}

/* flex-wrap */
.flex-wrap-container-1 {
  display: flex;
  flex-wrap: nowrap;
  background-color: #eeeeee;
}
.flex-wrap-container-2 {
  display: flex;
  flex-wrap: wrap;
  background-color: #eeeeee;
}
.flex-wrap-container-3 {
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: #eeeeee;
}
.flex-wrap-container-1 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.flex-wrap-container-2 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.flex-wrap-container-3 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}

/* flex-flow */
.flex-flow-container {
  display: flex;
  flex-flow: wrap row-reverse;
  background-color: #eeeeee;
}
.flex-flow-container div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}

/* justify-content */
.justify-content-container-1 {
  display: flex;
  background-color: #eeeeee;
  justify-content: flex-start;
}
.justify-content-container-2 {
  display: flex;
  background-color: #eeeeee;
  justify-content: flex-end;
}
.justify-content-container-3 {
  display: flex;
  background-color: #eeeeee;
  justify-content: center;
}
.justify-content-container-4 {
  display: flex;
  background-color: #eeeeee;
  justify-content: space-between;
}
.justify-content-container-5 {
  display: flex;
  background-color: #eeeeee;
  justify-content: space-around;
}
.justify-content-container-6 {
  display: flex;
  background-color: #eeeeee;
  justify-content: space-evenly;
}
.justify-content-container-1 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.justify-content-container-2 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.justify-content-container-3 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.justify-content-container-4 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.justify-content-container-5 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.justify-content-container-6 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}

/* align-items */
.align-items-container-1 {
  display: flex;
  background-color: #eeeeee;
  align-items: stretch;
  height: 200px;
}
.align-items-container-2 {
  display: flex;
  background-color: #eeeeee;
  align-items: flex-start;
  height: 200px;
}
.align-items-container-3 {
  display: flex;
  background-color: #eeeeee;
  align-items: flex-end;
  height: 200px;
}
.align-items-container-4 {
  display: flex;
  background-color: #eeeeee;
  align-items: center;
  height: 200px;
}
.align-items-container-5 {
  display: flex;
  background-color: #eeeeee;
  align-items: baseline;
  height: 200px;
}
.align-items-container-1 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.align-items-container-2 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.align-items-container-3 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.align-items-container-4 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
.align-items-container-5 div {
  background-color: #000000;
  width: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 8px;
}
