<h1>Flex Container</h1>
<h2>display</h2>
<p>Để sử dụng flex trong css thì cần khai báo thuộc tính display: flex</p>
<h2>flex-direction</h2>
<p>Thuộc tính flex-direction xác định hướng của main-axis để container sắp xếp các item.</p>
<h3>row</h3>
<div class="flex-direction-container-1">
    <div>1</div>
    <div>2</div>
    <div>3</div>
</div>
<h3>row-reverse</h3>
<div class="flex-direction-container-2">
    <div>1</div>
    <div>2</div>
    <div>3</div>
</div>
<h3>column</h3>
<div class="flex-direction-container-3">
    <div>1</div>
    <div>2</div>
    <div>3</div>
</div>
<h3>column-reverse</h3>
<div class="flex-direction-container-4">
    <div>1</div>
    <div>2</div>
    <div>3</div>
</div>