<h1>Overview</h1>
<wj-calendar #theCalendarOverview>
</wj-calendar>
<p>
    Ngày hiện tại là: <b>{{ theCalendarOverview.value | date:'fullDate':'':'vi'}}</b>.
</p>
<h1>Ranges (min/max)</h1>
<wj-calendar [showHeader]="false" [min]="firstDay" [max]="lastDay" #theCalendarRanges>
</wj-calendar>
<p>
    Ngày hiện tại là: <b>{{ theCalendarRanges.value | date:'fullDate':'':'vi'}}</b>.
</p>
<h1>Styling & Validation</h1>
<wj-calendar [ngStyle]="styling()" #theCalendarStyling (formatItem)="formatItem($event)" [itemValidator]="validator">
</wj-calendar>
<p>
    Ngày hiện tại là: <b>{{ theCalendarStyling.value | date:'fullDate':'':'vi'}}</b>.
</p>