button {
  border: unset !important;
  font-size: 15px !important;
  padding: 10px !important;
  margin-bottom: 0 !important;
  background-color: #5d6b78 !important;
  color: #ffffff !important;
}

button:hover {
  background-color: #2c3e51 !important;
}
