<div class="container">
    <div class="content">
        <div class="controls">
            <div class="primary">
                <calendar-app [zLowerLabelText]="'Từ ngày'" [zUpperLabelText]="'Đến ngày'"></calendar-app>
            </div>
            <div class="secondary">
                <div class="range-slider">
                    <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                </div>
            </div>
        </div>
    </div>
</div>