.mr-5 {
    margin-right: 5px;
}

.mr-20 {
    margin-right: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.container {
    background-color: #f1f1f1;
    border-radius: 4px;
    height: calc(100vh - 100px - 20px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .content {
    background-color: #2066A7;
    border-radius: 4px;
    height: 35%;
    width: 50%;
}

.container .event {
    height: 35%;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.container .event .slider-event {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: #2066A7;
    color: #f1f1f1;
    overflow: auto;
}

.container .event .slider-event .log-event {
    margin: 10px;
}

.container .event .date-event {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: #2066A7;
    color: #f1f1f1;
}

.container .event .date-event .form {
    margin: 10px;
}

.container .event .date-event .group .label {
    font-size: 20px;
}

.container .event .date-event .group .date input {
    width: calc(100% - 6px);
    height: 35px;
    font-size: 20px;
    color: #2c3e51;
    border-radius: 4px;
    border: none;
}

@media (max-width: 1024px) {
    .container .content {
        height: 45%;
        width: calc(100% - 60px);
    }

    .container .event {
        height: 45%;
        width: calc(100% - 60px);
        flex-direction: column;
    }
}

.container .content .controls {
    background-color: #246EB3;
    border-radius: 4px;
    margin: 20px;
    border: 1px solid #215B9C;
    height: calc(100% - 42px);
    width: calc(100% - 42px);
    box-shadow: 2px 2px 4px #215A9D;
    display: flex;
    flex-direction: column;
}

.container .content .controls .primary {
    height: 60%;
    width: 100%;
}

.container .content .controls .secondary {
    height: 40%;
    width: 100%;
}

.container .content .controls .secondary .range-slider {
    margin: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

:host >>> .container .content .controls .secondary .range-slider .ngx-slider {
    margin: unset;
}

:host >>> .container .content .controls .secondary .range-slider .ngx-slider .ngx-slider-pointer {
    width: 18px;
    height: 18px;
    top: -11px;
    background-color: #2066a7;
    border-radius: 100%;
    border: 4px solid #f1f1f1;
}

:host >>> .container .content .controls .secondary .range-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
}

:host >>> .container .content .controls .secondary .range-slider .ngx-slider .ngx-slider-bar {
    background: #f1f1f1;
}

:host >>> .container .content .controls .secondary .range-slider .ngx-slider .ngx-slider-selection {
    background: #0078D7;
}

:host >>> .container .content .controls .secondary .range-slider .ngx-slider .ngx-slider-bubble {
    display: none;
}