.container {
    background-color: #f1f1f1;
    border-radius: 4px;
    height: calc(100vh - 100px - 20px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .content {
    background-color: #2066A7;
    border-radius: 4px;
    height: 50%;
    width: 50%;
}

.container .content .controls {
    background-color: #246EB3;
    border-radius: 4px;
    margin: 20px;
    border: 1px solid #215B9C;
    height: calc(100% - 42px);
    width: calc(100% - 42px);
    box-shadow: 2px 2px 4px #215A9D;
    display: flex;
    flex-direction: column;
}

.container .content .controls .primary {
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.container .content .controls .primary .left {
    margin: 10px;
    height: calc(100% - 20px);
    width: calc(50% - 20px);
}

.container .content .controls .primary .right {
    margin: 10px;
    height: calc(100% - 20px);
    width: calc(50% - 20px);
}

.container .content .controls .secondary {
    height: 40%;
    width: 100%;
}

.container .content .controls .secondary .range-slider {
    margin: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
}