<div class="container">
    <div class="content">
        <div class="controls">
            <div class="primary">
                <calendar-app [zLowerLabelText]="'Từ ngày'" [zUpperLabelText]="'Đến ngày'"></calendar-app>
            </div>
            <div class="secondary">
                <div class="range-slider">
                    <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
                        (userChangeStart)="onUserChangeStart($event)" (userChange)="onUserChange($event)"
                        (userChangeEnd)="onUserChangeEnd($event)"></ngx-slider>
                </div>
            </div>
        </div>
    </div>
    <div class="event">
        <div class="slider-event mt-20 mr-20">
            <div class="log-event">{{ sliderEvent }}</div>
        </div>
        <div class="date-event mt-20">
            <form class="form" [formGroup]="dateEvent">
                <div class="group">
                    <div class="label">Từ ngày</div>
                    <div class="date">
                        <input type="date" formControlName="lowerDate">
                    </div>
                </div>
                <div class="group">
                    <div class="label">Đến ngày</div>
                    <div class="date">
                        <input type="date" formControlName="upperDate">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>