<div class="container">
    <div class="step mb-20">
        <wj-menu #menuStep [(value)]="step" [header]="'Theo'" (itemClicked)="menuItemClicked(menuStep)">
            <wj-menu-item [value]="1">Ngày</wj-menu-item>
            <wj-menu-item [value]="7">Tuần</wj-menu-item>
            <wj-menu-item [value]="30">Tháng</wj-menu-item>
            <wj-menu-item [value]="365">Năm</wj-menu-item>
        </wj-menu>
    </div>
    <div class="content">
        <div class="controls">
            <div class="primary">
                <calendar-app [zLowerLabelText]="'Từ ngày'" [zUpperLabelText]="'Đến ngày'" [startDate]="startDate"
                    [endDate]="endDate">
                </calendar-app>
            </div>
            <div class="secondary">
                <div class="range-slider">
                    <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
                        (userChangeStart)="onUserChangeStart($event)" (userChange)="onUserChange($event)"
                        (userChangeEnd)="onUserChangeEnd($event)"></ngx-slider>
                </div>
            </div>
        </div>
    </div>
    <div class="event">
        <div class="slider-event mt-20 mr-20">
            <div class="log-event">{{ sliderEvent }}</div>
        </div>
        <div class="date-event mt-20">
            <form class="form" [formGroup]="dateEvent">
                <div class="group">
                    <div class="label">Bắt đầu</div>
                    <div class="date">
                        <input type="date" formControlName="startDate"
                            (ngModelChange)="startDate = dateEvent.value.startDate">
                    </div>
                </div>
                <div class="group">
                    <div class="label">Kết thúc</div>
                    <div class="date">
                        <input type="date" formControlName="endDate"
                            (ngModelChange)="endDate = dateEvent.value.endDate">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>