.calendar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.calendar .group {
    margin: 10px;
    height: calc(100% - 20px);
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendar .group .label {
    width: 100%;
    font-size: 25px;
    color: #f1f1f1;
    margin-bottom: 10px;
}

.calendar .group .date {
    width: 100%;
}

.calendar .group .date .wj-content.wj-dropdown {
    width: 100%;
    border-radius: 4px;
}

@media (max-width: 1024px) {
    .calendar {
        display: flex;
        flex-direction: column;
    }

    .calendar .group {
        height: calc(50% - 20px);
        width: calc(100% - 20px);
    }
}