.container {
    background-color: #f1f1f1;
    border-radius: 4px;
    height: calc(100vh - 120px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .content {
    width: calc(100% - 26px);
    background-color: #3a87cf;
    border: 3px solid #2066a7;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.container .content .left {
    display: flex;
    flex-direction: row;
}

.container .content .left .box {
    width: 100%;
    border: 3px solid #2066a7;
    margin-right: 10px;
    background-color: #ddd;
}

.container .content .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid #2066a7;
    background-color: #ddd;
}