<div class="navbar">
    <a routerLink="/">Bravo</a>
    <a class="right" routerLink="/">Link</a>
    <a routerLink="/">Link</a>
    <a routerLink="/">Link</a>
    <a routerLink="/">Link</a>
    <a routerLink="/">Link</a>
</div>
<div class="container">
    <div class="sidebar">
        <a routerLink="/">Link</a>
        <a routerLink="/">Link</a>
        <a routerLink="/">Link</a>
        <a routerLink="/">Link</a>
        <a routerLink="/">Link</a>
        <a routerLink="/">Link</a>
        <a routerLink="/">Link</a>
        <a routerLink="/">Link</a>
    </div>
    <div class="content">huhu</div>
</div>
<div class="footer">Footer</div>