<div class="container">
    <div class="content">
        <div class="input mb-20">
            <form class="form" [formGroup]="form">
                <input [(ngModel)]="min" formControlName="min" class="mr-10" type="number">
                <input [(ngModel)]="start" formControlName="start" class="mr-10" type="number">
                <input [(ngModel)]="end" formControlName="end" class="mr-10" type="number">
                <input [(ngModel)]="max" formControlName="max" class="" type="number">
            </form>
        </div>
        <div class="slider mb-20">
            <ngx-slider [(value)]="start" [(highValue)]="end"
                [options]="{ floor: min ? min : 0, ceil: max ? max : 250, step: 1} ">
            </ngx-slider>
        </div>
        <div class="event">
            <button (click)="onReset()">Reset</button>
        </div>
    </div>
</div>