<div class="container">
    <div class="content">
        <div class="input mb-20">
            <form class="form" [formGroup]="form">
                <div class="form-group">
                    <label for="min">Min</label>
                    <input [(ngModel)]="min" formControlName="min" class="mr-10" type="number">
                </div>
                <div class="form-group">
                    <label for="start">Start</label>
                    <input [(ngModel)]="start" formControlName="start" class="mr-10" type="number">
                </div>
                <div class="form-group">
                    <label for="end">End</label>
                    <input [(ngModel)]="end" formControlName="end" class="mr-10" type="number">
                </div>
                <div class="form-group">
                    <label for="max">Max</label>
                    <input [(ngModel)]="max" formControlName="max" class="" type="number">
                </div>
            </form>
        </div>
        <div class="slider mb-20">
            <ngx-slider [(value)]="start" [(highValue)]="end"
                [options]="{ floor: min ? min : 0, ceil: max ? max : 250, step: 1, noSwitching: true } ">
            </ngx-slider>
        </div>
        <div class="event">
            <button (click)="onReset()">Reset</button>
            <button (click)="onRandom()">Random</button>
        </div>
    </div>
</div>