.center {
  display: flex;
  justify-content: center;
}

.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wj-popup {
  border-radius: 6px;
}

h3 {
  color: #264d73;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  border-left: 2px outset #264d73;
  border-radius: 10px;
  box-shadow: 3px 3px 0px #f5f5f5;
}

h3::before {
  content: "\2192";
  opacity: 0.3;
  margin-right: 6px;
}

.wj-content.wj-dropdown,
.wj-content.wj-inputnumber,
.wj-content.wj-inputmask,
.wj-content.wj-calendar-outer,
.wj-content.wj-pager {
  border-radius: 6px !important;
}

.wj-static-labels .wj-labeled-input :not(.wj-state-focused) + label,
.wj-labeled-input .wj-state-focused + label,
.wj-labeled-input :not(.wj-state-empty) + label {
  color: #344558 !important;
  font-weight: 600;
}

.wj-labeled-input input[type="checkbox"] + label:after,
.wj-labeled-input input[type="radio"] + label:after {
  background: #e9eef0 !important;
}

.wj-labeled-input input[type="radio"]:checked + label:after {
  border: 0.45em solid #2c3e51 !important;
}

.backgroundImage {
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-image: url("../../../assets/images/hand-painted-watercolor-pastel-sky-background.webp");
}
