<h1>Calendar App</h1>
<div class="selection">
    <wj-menu [(value)]="culture" [header]="'Lựa chọn'">
        <wj-menu-item [value]="'vi'">Vietnamese</wj-menu-item>
        <wj-menu-item [value]="'en'">English (US)</wj-menu-item>
        <wj-menu-item [value]="'en-GB'">English (UK)</wj-menu-item>
        <wj-menu-item [value]="'es'">Spanish</wj-menu-item>
        <wj-menu-item [value]="'de'">German</wj-menu-item>
        <wj-menu-item [value]="'it'">Italian</wj-menu-item>
        <wj-menu-item [value]="'fr'">French</wj-menu-item>
        <wj-menu-item [value]="'pt'">Portuguese</wj-menu-item>
        <wj-menu-item [value]="'ru'">Russian</wj-menu-item>
        <wj-menu-item [value]="'ja'">Japanese</wj-menu-item>
        <wj-menu-item [value]="'ko'">Korean</wj-menu-item>
        <wj-menu-item [value]="'zh'">Chinese</wj-menu-item>
    </wj-menu>
    <div class="wj-labeled-input">
        <input id="btnRed" type="radio" name="color" checked />
        <label for="btnRed">Background image</label>
    </div>
    <div class="wj-labeled-input">
        <input id="btnGreen" type="radio" name="color" />
        <label for="btnGreen">Green background</label>
    </div>
    <div class="wj-labeled-input">
        <input id="btnBlue" type="radio" name="color" />
        <label for="btnBlue">Pink background</label>
    </div>
</div>
<div class="center">
    <button (click)="calendarApp.show(true)">{{ currentDate | date:'EEEE':'':culture }}, {{ formatDate(currentDate, "d
        MMMM, yyyy")}}</button>
</div>
<wj-popup #calendarApp>
    <app-input-calendar-app-main (selected)="eventSelected($event)"></app-input-calendar-app-main>
</wj-popup>
<h3>
    {{ (dateSelected | date:'EEEE':'':culture) ? (dateSelected | date:'EEEE':'':culture) : (currentDate |
    date:'EEEE':'':culture) }},
    {{ (formatDate(dateSelected, "d MMMM, yyyy")) ? (formatDate(dateSelected, "d MMMM, yyyy")) :
    (formatDate(currentDate, "d MMMM, yyyy")) }}
</h3>