.run::before {
    content: "\2192";
    opacity: 0.3;
    margin-right: 6px;
}
.mt-4 {
    margin-bottom: 30px !important;
}
h3 {
    font-size: 20px !important;
}

h2 {
    font-size: 18px !important;
    opacity: 0.9;
}
