@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-6 {
  margin-left: 6px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-17 {
  margin-left: 17px;
}

.ml-18 {
  margin-left: 18px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.fw-600 {
  font-weight: 600;
}

.fr {
  float: right;
}

.vsc-auto-90 {
  height: 90%;
  overflow-y: auto;
}

.hsc-auto-90 {
  width: 90%;
  overflow-x: auto;
}

.hsc-auto-100 {
  width: 100%;
  overflow-x: auto;
}

.opacity-5 {
  opacity: 0.5;
}

.selected-white {
  background-color: white;
}

/* header */

.header {
  background-color: #f1f1f1;
}

.header .header-list {
  margin: 0;
  padding: 8px;
  list-style: none;
}

.header .header-list > li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.header .header-list .border-left-dotted {
  border-left: 1px dotted #ccc;
}

.header .header-list .border-left-solid {
  border-left: 1px solid #ccc;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1152px) {
  .header-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .header .header-list > li {
    padding: 5px;
  }
}

hr {
  border: 1px solid #2391fe;
  margin: 0 !important;
}

/* sidebar */

.sidebar {
  height: 90vh;
  width: 220px;
  position: absolute;
  background-color: #eaecf5;
}

.sidebar ul {
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
  padding-inline-start: 0px !important;
}

.sidebar ul li {
  color: #373737;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: unset !important;
}

.sidebar ul li:hover {
  background-color: #f1f1f1;
}

.sidebar .sidebar-tools {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  background-color: #f1f1f1;
}

.sidebar .sidebar-group .sidebar-group-name {
  padding: 5px;
  background-color: #f9f9f9;
  border: 0.5px solid #ccc;
}

.sidebar .sidebar-group .treeview ul {
  margin-left: 15px;
  border-left: 1.3px solid #ccc;
}

.sidebar .sidebar-group .treeview ul li::before {
  content: "\2192";
  margin-left: -11px !important;
  color: #ccc;
}

input {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  font-size: 0px !important;
}

input[type="checkbox"] {
  transform: scale(1.2);
}

ul {
  margin-block-start: unset !important;
  margin-block-end: unset !important;
  padding-inline-start: unset !important;
}

.sidebar .flex-end {
  display: flex;
  align-items: flex-end;
}

/* content */

.content {
  height: 90vh;
}

.content .content-flex {
  display: flex;
  flex-direction: column;
}

.content .content-flex-row {
  display: flex;
  flex-direction: row;
}

.content .content-flex .content-primary {
  height: 45vh;
  background-color: #ccc;
}

.content .content-flex-row .content-primary {
  width: 50%;
  height: 90vh;
  background-color: #ccc;
}

.content .content-flex .content-primary .content-noti {
  padding: 7px;
  background-color: #f1f1f1;
}

.content .content-flex-row .content-primary .content-noti {
  padding: 7px;
  background-color: #f1f1f1;
}

.content .content-flex .content-primary .content-table {
  white-space: nowrap;
  overflow-x: auto;
}

.content .content-flex-row .content-primary .content-table {
  white-space: nowrap;
  overflow-x: auto;
}

:host >>> .content .content-flex-row .content-primary .content-table .table-height {
  height: calc(90vh - 33px) !important;
}

:host >>> .content .content-flex-row .content-secondary .tab-group .tab-left .table-height {
  height: calc(90vh - 33px) !important;
}

.content .content-flex .content-secondary {
  height: calc(45vh - 32.5px);
}

.content .content-flex-row .content-secondary {
  width: calc(50% - 3px);
  height: 90vh;
  border-left: 3px solid #eee;
}

.content .content-flex .content-secondary .tab-header {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
}

.content .content-flex-row .content-secondary .tab-header {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
}

.content .content-flex .content-secondary .tab-header .header-left {
  white-space: nowrap;
  overflow-x: auto;
}

.content .content-flex-row .content-secondary .tab-header .header-left {
  white-space: nowrap;
  overflow-x: auto;
}

.content .content-flex .content-secondary .tab-header .header-left ul > li {
  display: inline-block;
  vertical-align: middle;
  padding: 3px;
  border: 1px solid #aaa;
}

.content .content-flex-row .content-secondary .tab-header .header-left ul>li {
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
  border: 1px solid #aaa;
}

.content .content-flex .content-secondary .tab-header .header-list {
  display: flex;
  flex-wrap: nowrap;
}

.content .content-flex-row .content-secondary .tab-header .header-list {
  display: flex;
  flex-wrap: nowrap;
}

.content .content-flex .content-secondary .tab-header .header-right {
  white-space: nowrap;
}

.content .content-flex-row .content-secondary .tab-header .header-right {
  white-space: nowrap;
}

.content .content-flex .content-secondary .tab-header .header-right ul > li {
  display: inline-block;
  vertical-align: middle;
  padding: 3px;
}

.content .content-flex-row .content-secondary .tab-header .header-right ul>li {
  display: inline-block;
  vertical-align: middle;
  padding: 7px;
}

.content .content-flex .content-secondary .tab-group {
  display: flex;
  flex-wrap: wrap;
  height: calc(45vh - 26.5px);
}

.content .content-flex-row .content-secondary .tab-group {
  display: flex;
  flex-direction: column;
  height: calc(90vh - 26.5px);
}

.content .content-flex .content-secondary .tab-group .tab-left {
  width: 60%;
}

.content .content-flex-row .content-secondary .tab-group .tab-left {
  height: calc(45vh - 26.5px);
}

.content .content-flex .content-secondary .tab-group .tab-right {
  width: calc(40% - 3px);
  border-left: 3px solid #eee;
}

.content .content-flex-row .content-secondary .tab-group .tab-right {
  height: calc(45vh - 9px);
  border-top: 3px solid rgb(210, 111, 111);
}

@media (max-width: 1024px) {
  .content .content-flex .content-secondary .tab-group {
    display: flex;
    flex-direction: column;
  }
  .content .content-flex .content-secondary .tab-group .tab-left {
    width: 100%;
    height: 50%;
  }
  .content .content-flex .content-secondary .tab-group .tab-right {
    width: 100%;
    height: calc(50% - 3px);
    border-left: unset;
    border-top: 3px solid rgb(210, 111, 111);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* footer */

.footer {
  background-color: #f1f1f1;
}

.footer .footer-list {
  margin: 0;
  list-style: none;
  padding-left: 5px;
}

.footer .footer-list > li {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
}

.footer .footer-list .border-left-dotted {
  border-left: 1px dotted #ccc;
}

.footer .footer-list .border-left-solid {
  border-left: 1px solid #ccc;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1181px) {
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
  }
}

/* gird wijmo */

:host >>> .wj-cell.wj-header {
  background: #dfe3e8 !important;
  color: #333 !important;
  font-weight: 500 !important;
}

:host >>> .wj-cell {
  background: #ffffff !important;
}

:host >>> .wj-alt {
  background: #ecf2ff !important;
}

:host >>> .wj-cells .wj-cell.wj-state-selected {
  background: #cce9ff !important;
  color: #333 !important;
}

:host >>> .wj-cells .wj-cell.wj-state-multi-selected {
  background: #cce9ff !important;
  color: #333 !important;
}

:host >>> .wj-cell.wj-header.wj-header-selected {
  background-color: #FFD85E !important;
}


@media (max-width: 1024px) {
  .content .content-flex .content-secondary .tab-group .tab-left .tab-group-responsive {
    height: 100% !important;
  }
  .content .content-flex .content-secondary .tab-group .tab-right .tab-group-responsive {
    height: 100% !important;
  }
}