<div class="header header-flex">
    <div class="header-primary">
        <ul class="header-list">
            <li (click)="sidebar = !sidebar"><i class="border-left-dotted mr-5"></i><i class="fas fa-bars"></i></li>
            <li>Dữ liệu <i class="fas fa-caret-down"></i></li>
            <li>Tuỳ chọn <i class="fas fa-caret-down"></i></li>
            <li><i class="border-left-dotted mr-5"></i><i class="fad fa-file mr-5"></i><i class="fas fa-caret-down"></i>
            </li>
            <li><i class="border-left-solid mr-5"></i><i class="fad fa-folder-open"></i></li>
            <li><i class="border-left-solid mr-5"></i><i class="fad fa-save"></i></li>
            <li><i class="border-left-solid mr-5"></i><i class="fad fa-redo"></i></li>
            <li><i class="border-left-solid mr-5"></i><i class="fad fa-file-pdf"></i></li>
            <li><i class="border-left-solid mr-5"></i><i class="fad fa-sign-out"></i></li>
            <li><i class="border-left-solid mr-5"></i><i class="fad fa-power-off"></i></li>
            <li><i class="border-left-solid mr-5"></i><i class="fad fa-arrow-alt-circle-left"></i></li>
            <li><i class="fad fa-arrow-alt-circle-right"></i></li>
            <li><i class="fad fa-arrow-alt-circle-up"></i></li>
            <li><i class="border-left-solid mr-5"></i>Mẫu in <i class="fad fa-print"></i></li>
            <li><i class="border-left-solid mr-5"></i>Duỵêt</li>
            <li><i class="border-left-solid mr-5"></i>Trừ ứng trước</li>
            <li><i class="border-left-solid mr-5"></i>Đánh số lại</li>
            <li><i class="border-left-solid mr-5"></i>Hoá đơn điện tử <i class="fas fa-caret-down mr-5"></i><i
                    class="border-left-dotted"></i></li>
        </ul>
    </div>
    <div class="header-secondary">
        <ul class="header-list">
            <li>Layout <i class="fas fa-caret-down"></i></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="sidebar" [hidden]="sidebar">
        <p class="ml-5">1. Nhóm dữ liệu</p>
        <a routerLink="/css/">Hoá đơn GTGT</a>
        <a routerLink="/css/">Chứng từ của tôi</a>
        <a routerLink="/css/">Chứng từ trong năm</a>
    </div>
    <div class="content" [ngStyle]="{'margin-left': !sidebar ? '220px' : '0px'}">
        <div class="content-flex">
            <div class="content-primary">1</div>
            <div class="content-secondary">2</div>
        </div>
    </div>
</div>

<div class="footer footer-flex">
    <div class="footer-primary">
        <ul class="footer-list">
            <li>Tổng cộng: 24 / 989</li>
            <li><i class="border-left-solid mr-5"></i>Đã tạo: {{ currentTime | date:'short' }}</li>
            <li><i class="border-left-solid mr-5"></i>Đã sửa: {{ currentTime | date:'short' }}</li>
        </ul>
    </div>
    <div class="footer-secondary">
        <ul class="footer-list">
            <li><i class="fad fa-database mr-5"></i>Default</li>
            <li><i class="border-left-solid mr-5"></i>Văn phòng Công ty Cổ phần BRAVO
            </li>
            <li><i class="border-left-solid mr-5"></i>2027</li>
            <li><i class="border-left-solid mr-5"></i><i class="fad fa-user mr-5"></i>Admin</li>
            <li><i class="border-left-solid mr-5"></i><i class="fad fa-bell mr-5"></i>12</li>
        </ul>
    </div>
</div>