.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-6 {
  margin-left: 6px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-17 {
  margin-left: 17px;
}

.ml-18 {
  margin-left: 18px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.fw-600 {
  font-weight: 600;
}

.fr {
  float: right;
}

.header {
  background-color: #f1f1f1;
}

.header .header-list {
  margin: 0;
  padding: 8px;
  list-style: none;
}

.header .header-list > li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.header .header-list .border-left-dotted {
  border-left: 1px dotted #ccc;
}

.header .header-list .border-left-solid {
  border-left: 1px solid #ccc;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1152px) {
  .header-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .header .header-list > li {
    padding: 5px;
  }
}

hr {
  border: 1px solid #2391fe;
  margin: 0 !important;
}

.sidebar {
  height: 90vh;
  width: 220px;
  position: absolute;
  background-color: #eaecf5;
}

.sidebar ul {
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
  padding-inline-start: 0px !important;
}

.sidebar ul li {
  color: #373737;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: unset !important;
}

.sidebar ul li:hover {
  background-color: #f1f1f1;
}

.sidebar .sidebar-tools {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  background-color: #f1f1f1;
}

.sidebar .sidebar-group .sidebar-group-name {
  padding: 5px;
  background-color: #f9f9f9;
  border: 0.5px solid #ccc;
}

.sidebar .sidebar-group .treeview ul {
  margin-left: 15px;
  border-left: 1.3px solid #ccc;
}

.sidebar .sidebar-group .treeview ul li::before {
  content: "\2192";
  margin-left: -11px !important;
  color: #ccc;
}

input {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  font-size: 0px !important;
}

.sidebar .flex-end {
  display: flex;
  align-items: flex-end;
}

.content {
  height: 90vh;
}

.content .content-flex {
  display: flex;
  flex-direction: column;
}

.content .content-flex .content-primary {
  height: 45vh;
  background-color: #fff;
}

.content .content-flex .content-primary .content-noti {
  padding: 7px;
  background-color: #f1f1f1;
}

.content .content-flex .content-secondary {
  height: 45vh;
  background-color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #f1f1f1;
}

.footer .footer-list {
  margin: 0;
  list-style: none;
  padding-left: 5px;
}

.footer .footer-list > li {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
}

.footer .footer-list .border-left-dotted {
  border-left: 1px dotted #ccc;
}

.footer .footer-list .border-left-solid {
  border-left: 1px solid #ccc;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1181px) {
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
  }
}
