<div class="header header-flex">
    <div class="header-primary">
        <ul class="header-list">
            <li (click)="sidebar = !sidebar"><i class="border-left-dotted ml-5 mr-5"></i><i class="fas fa-bars"></i>
            </li>
            <li>Dữ liệu <i class="fas fa-caret-down"></i></li>
            <li>Tuỳ chọn <i class="fas fa-caret-down"></i></li>
            <li><i class="border-left-dotted mr-5"></i><i class="fad fa-file mr-5"></i><i class="fas fa-caret-down"></i>
            </li>
            <li><i class="border-left-solid mr-5"></i><i style="color:#E9C767" class="fad fa-folder-open"></i></li>
            <li><i class="border-left-solid mr-5"></i><i class="fad fa-save"></i></li>
            <li><i class="border-left-solid mr-5"></i><i style="color:#1A65A5" class="fas fa-redo"></i></li>
            <li><i class="border-left-solid mr-5"></i><i style="color:#ff281d" class="fad fa-file-pdf"></i></li>
            <li><i class="border-left-solid mr-5"></i><i class="fad fa-sign-out"></i></li>
            <li><i class="border-left-solid mr-5"></i><i class="fad fa-power-off"></i></li>
            <li><i class="border-left-solid mr-5"></i><i class="fad fa-arrow-alt-circle-left opacity-5"></i></li>
            <li><i class="fad fa-arrow-alt-circle-right opacity-5"></i></li>
            <li><i class="fad fa-arrow-alt-circle-up opacity-5"></i></li>
            <li><i class="border-left-solid mr-5"></i>Mẫu in <i class="fad fa-print"></i></li>
            <li><i class="border-left-solid mr-5"></i>Duỵêt</li>
            <li><i class="border-left-solid mr-5"></i>Trừ ứng trước</li>
            <li><i class="border-left-solid mr-5"></i>Đánh số lại</li>
            <li><i class="border-left-solid mr-5"></i>Hoá đơn điện tử <i class="fas fa-caret-down mr-5"></i><i
                    class="border-left-dotted"></i></li>
        </ul>
    </div>
    <div class="header-secondary">
        <ul class="header-list">
            <li style="margin-right:-9px">Layout<i class="fas fa-caret-down ml-20 mr-10"></i></li>
        </ul>
    </div>
</div>
<hr>
<div class="container">
    <div class="sidebar" [hidden]="sidebar">
        <div class="sidebar-tools"><i class="fad fa-thumbtack mr-10"></i><i (click)="sidebar = !sidebar"
                class="fas fa-times"></i></div>
        <div class="sidebar-group vsc-auto-90">
            <div class="sidebar-group-name fw-600"><span class="ml-5">1. Nhóm dữ liệu</span></div>
            <ul>
                <li style="background-color: #CCE9FF;"><i style="color:#E9C767"
                        class="fad fa-folder-open ml-18 mr-10"></i>Hoá đơn GTGT</li>
                <li><i style="color:#E9C767" class="fad fa-folder-open ml-18 mr-10"></i>Chứng từ của
                    tôi</li>
                <ul class="treeview">
                    <li (click)="treeview = !treeview"><i
                            [class]="treeview ? 'fa-solid fa-angle-right' : 'fa-solid fa-angle-down'"></i><i
                            style="color:#E9C767"
                            [class]="treeview ? 'fad fa-folder-open ml-10 mr-10' : 'fad fa-folder-open ml-6 mr-10'"></i>Chứng
                        từ trong năm
                    </li>
                    <ul [hidden]="treeview">
                        <li><input class="ml-10 mr-5" type="checkbox">Tháng 1</li>
                        <li><input class="ml-10 mr-5" type="checkbox">Tháng 2</li>
                        <li><input class="ml-10 mr-5" type="checkbox">Tháng 3</li>
                        <li><input class="ml-10 mr-5" type="checkbox">Tháng 4</li>
                        <li><input class="ml-10 mr-5" type="checkbox">Tháng 5</li>
                        <li><input class="ml-10 mr-5" type="checkbox">Tháng 6</li>
                        <li><input class="ml-10 mr-5" type="checkbox">Tháng 7</li>
                        <li><input class="ml-10 mr-5" type="checkbox">Tháng 8</li>
                        <li><input class="ml-10 mr-5" type="checkbox">Tháng 9</li>
                        <li><input class="ml-10 mr-5" type="checkbox">Tháng 10</li>
                        <li><input class="ml-10 mr-5" type="checkbox">Tháng 11</li>
                        <li><input class="ml-10 mr-5" type="checkbox">Tháng 12</li>
                    </ul>
                </ul>
                <li><i style="color:#1A65A5" class="fas fa-trash ml-18 mr-10"></i>Dữ liệu đã đình chỉ</li>
            </ul>
        </div>
        <div class="sidebar-group" style="position:absolute;bottom: 0;width: 100%;">
            <div class="sidebar-group-name fw-600">
                <span class="ml-5">2. Lọc</span>
                <i style="color:green" class="fas fa-plus fr"></i>
            </div>
        </div>
    </div>
    <div class="content" [ngStyle]="{'margin-left': !sidebar ? '220px' : '0px'}">
        <div class="content-flex">
            <div class="content-primary" [ngStyle]="{'height': !tabGroup ? 'calc(90vh - 26.5px)' : ''}">
                <div class="content-noti"><i class="fas fa-angle-right ml-5 mr-15"></i>Đã hoàn thiện</div>
                <div class="content-table">
                    <wj-flex-grid
                        [ngStyle]="{'height': !tabGroup ? 'calc(90vh - 59px)' : 'calc(45vh - 32.5px)', 'background-color': '#f1f1f1'}"
                        [itemsSource]="dataPrimary" [headersVisibility]="'Column'" [selectionMode]="'Row'">
                        <wj-flex-grid-column [visible]="false">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [binding]="'Id'" [header]="'ID'" [width]="100">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [binding]="'ParentId'" [header]="'Parent ID'" [width]="100">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [binding]="'IsGroup'" [header]="'Is group'" [width]="80">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [binding]="'Name'" [header]="'Name'" [width]="300">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [binding]="'ItemTypeName'" [header]="'Item type name'" [width]="150">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [binding]="'Code'" [header]="'Code'" [width]="100">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [binding]="'Unit'" [header]="'Unit'" [width]="150">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [binding]="'ItemGroupCode'" [header]="'Item group code'" [width]="150">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [binding]="'BranchCode'" [header]="'Branch code'" [width]="110">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [binding]="'IsActive'" [header]="'Is active'" [width]="80">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [binding]="'CreatedBy'" [header]="'Created by'" [width]="100">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [binding]="'CreatedAt'" [header]="'Created at'" [width]="220">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [binding]="'ModifiedBy'" [header]="'Modified by'" [width]="100">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [binding]="'ModifiedAt'" [header]="'Modified at'" [width]="220">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [binding]="'_SelectKey__wibkaw'" [header]="'Select key wibkaw'"
                            [width]="150">
                        </wj-flex-grid-column>
                    </wj-flex-grid>
                </div>
            </div>
            <div class="content-secondary">
                <div class="tab-header">
                    <div class="header-left">
                        <ul class="header-list">
                            <li class="selected-white">Chi tiết hoá đơn</li>
                            <li>Thanh toán ứng trước</li>
                            <li>Công việc</li>
                            <li>Chiết khấu thương mại</li>
                            <li>Mẫu in chứng từ</li>
                            <li>Duyệt chứng từ</li>
                        </ul>
                    </div>
                    <div class="header-right">
                        <ul>
                            <li><i (click)="tabRight = !tabRight"
                                    [class]="tabRight  ? 'fad fa-clone mr-10' : 'fas fa-clone mr-10'"></i>
                            </li>
                            <li><i (click)="tabGroup = !tabGroup"
                                    [class]="tabGroup ? 'fas fa-angle-down' : 'fas fa-angle-up'"></i></li>
                        </ul>
                    </div>
                </div>
                <div [hidden]="!tabGroup">
                    <div class="tab-group">
                        <div class="tab-left"
                            [ngStyle]="{'width': !tabRight? '100%' : '', 'height': !tabRight? '100%' : ''}">
                            2
                        </div>
                        <div class="tab-right" [hidden]="!tabRight">
                            3
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer footer-flex">
    <div class="footer-primary">
        <ul class="footer-list">
            <li>Tổng cộng: 24 / 989</li>
            <li><i class="border-left-solid mr-5"></i>Đã tạo: {{ currentTime | date:'short' }}</li>
            <li><i class="border-left-solid mr-5"></i>Đã sửa: {{ currentTime | date:'short' }}</li>
        </ul>
    </div>
    <div class="footer-secondary">
        <ul class="footer-list">
            <li><i class="fad fa-database mr-5"></i>Default</li>
            <li style="background-color: #FFF8DD;">Văn phòng Công ty Cổ phần
                BRAVO
            </li>
            <li>2027</li>
            <li><i class="fad fa-user mr-5"></i>Admin</li>
            <li><i class="fad fa-bell mr-5"></i>12</li>
        </ul>
    </div>
</div>